.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.mainPage {
  margin-top: 40px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(0, 7, 61);
  font-family: "Noto Sans", sans-serif;
}
.heading {
  width: 100%;

  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
}
.heading h1 {
  font-size: 60px;
  font-family: "Playfair Display SC", serif;
  margin-top: 10px;
  margin-bottom: 20px;
}
.heading p {
  margin-bottom: 20px;
}
.vl {
  border-left: 3px solid white;
  height: 180px;
  background-color: white;
  border-radius: 30px;
  margin-top: 10px;
}
.mainText {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.textbox {
  width: 70%;
  text-align: center;
  background-color: rgba(105, 105, 105, 0.8);
  padding: 15px;
  border-radius: 15px;
  color: white;
  font-size: 20px;
}
.content {
  width: 100%;
  height: 100%;
}
.bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
}
