.container {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.topBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  justify-content: center;
}
.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  width: 30%;
  margin-bottom: 20px;
}
.search label {
  font-weight: bold;
  font-size: 35px;
}
.input1 {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 5px 10px black;
  border: none;
  font-size: 14px;
}
.submit {
  width: 70%;
  padding: 5px;
  border-radius: 10px;
  border: none;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 10px black;
}
.submit:active {
  box-shadow: 0px 0px 0px black;
  transition: 0.01s;
}

.cards {
  margin-top: 20px;
  width: 100%;
  padding: 15px;
  height: 100vh;
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  justify-content: space-between;
  gap: 20px;
  overflow-y: scroll;
  margin-left: 10px;
  margin-right: 10px;
  margin-left: 20px;
  overflow-x: hidden;
}
.newsCard {
  width: 100%;
  height: fit-content;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  overflow-wrap: break-word;

  background-color: rgb(255, 255, 255);
}
.image {
  width: 100%;
  height: auto;
  object-fit: cover;

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.head {
  width: 95%;
  font-size: 17px;

  margin-top: 3px;
  margin-bottom: 5px;
}
.head a {
  text-decoration: underline;
  font-weight: 700px;
  color: black;
}
.source {
  width: 100%;
  font-family: monospace;
  margin-bottom: 10px;
}
.info {
  width: 90%;
  font-family: sans-serif;
  margin-bottom: 10px;
}
.txt {
  height: 100%;
  display: flex;
  width: fit-content;
  flex-direction: column;
  width: 100%;
  padding: 8px;
}

.newsCard:hover {
  box-shadow: 0px 10px 10px black;
  transition: 0.5s;
}
